# General
COMPOSE_PROJECT_NAME=proyectoserver

# Web
WEB_PORT=80

# FTP Configuration
FTP_PORT=21
FTP_USER=ftpuser
FTP_PASS=ftpsecurepwd123
# Note: In production, change FTP_PASV_ADDRESS to the public IP of the host server
FTP_PASV_ADDRESS=127.0.0.1
FTP_PASV_MIN_PORT=20000
FTP_PASV_MAX_PORT=20010

# Mail Configuration
MAIL_PORT_SMTP=25
MAIL_PORT_IMAP=143
MAIL_HOSTNAME=mail.example.com
MAIL_DOMAIN=example.com

# Streaming Configuration
STREAMING_PORT=1935
